{% extends "_layouts/default.njk" %}

{% block body %}
<div class="content">
    <strong>Make an appointment</strong>
    <p>Please, choose a professional:</p>

    <ul class="providers">
        <li class="provider">
            <div>
                <img src="">
                <strong>Professional Name</strong>
            </div>
            <a href="#">+</a>
        </li>
    </ul>
    <a href="/app/logout" class="logout">Logout</a>
</div>
{% endblock %}